body {
	background-color: #ffffdd


}

#header{
	height: 100px;
}


#left {
	display: flex;
	width: 200px;
	flex-direction: column;
}

nav{

}

h2{
	display: list-item;
}

#body1{
	display: flex;
	flex-direction: row;
}

.right{
	display: flex;
	flex-direction: column;
	background-color: silver;

}

#p1	{	
	background-color: transparent;
	max-height: 300px;
	max-width: 700px;
	overflow: auto;
	border-spacing: 5px;
	
	
}

#p2	{	
	background-color: #fff555;
	max-height: 300px;
	max-width: 700px;
	overflow: auto;

}
.par1 {
	color: red;
}
.par2 {
	color: green;
}

#span1{

	display: block;

}