body {
	background-color: #ffffdd


}

#header{
	height: 100px;
}


#left {
	display: flex;
	width: 200px;
	flex-direction: column;
}


h2{
	display: list-item;
}


#body1{
	display: flex;
	flex-direction: row;
}


.right{
	display: flex;
	flex-direction: column;
	background-color: silver;

}

#p1	{	
	background-color: transparent;
	max-height: 300px;
	max-width: 700px;
	overflow: auto;
	border-spacing: 5px;
}

#p2	{	
	background-color: #fff555;
	max-height: 300px;
	max-width: 700px;
	overflow: auto;
}


.par1 {
	color: red;
}


.par2 {
	color: green;
}


#span1{

	display: block;


}

#img1{
	width: 200px;
	float: left;


}
#img2{
	width: 200px;
	float: right;
}


#img3, #img4, #img5{

	
}

#img3{
width: 200px;
height: 200px;
border: solid 1px #ccc;
background: #ddd;
position: relative;
z-index: 2;
}
#img3:hover{
width: 200px;
height: 200px;
border: solid 1px #ccc;
background: #ddd;
position: relative;
z-index: 10;
}
#img4{
width: 200px;
height: 200px;
border: solid 1px #ccc;
background: #ddd;
position: relative;
z-index: 3;
left: -160px;
bottom: -40px;

}
#img4:hover{
width: 200px;
height: 200px;
border: solid 1px #ccc;
background: #ddd;
position: relative;
z-index: 10;
left: -160px;
bottom: -40px;


}
#img5{
width: 200px;
height: 200px;
border: solid 1px #ccc;
background: #ddd;
position: relative;
z-index: 4;
left: -320px;
bottom: -80px;
}
  
#img5:hover{
width: 200px;
height: 200px;
border: solid 1px #ccc;
background: #ddd;
position: relative;
z-index: 10;
left: -320px;
bottom: -80px;
}
  